%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a{:href => "/"} Home
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      %li.divider
      %li.active
        %a{:href => "/mangas"} Manga List
      - if current_user
        %li.divider
        %li.has-dropdown
          %a{:href => "#"} Favorites
          %ul.dropdown
            %li.has-dropdown
              %a{:href => "#"} Dropdown Level 1a
              %ul.dropdown
                %li
                  %label Dropdown Level 2 Label
                %li
                  %a{:href => "#"} Dropdown Level 2a
                %li
                  %a{:href => "#"} Dropdown Level 2b
                %li
                  %a{:href => "#"} Dropdown Level 2c
                %li
                  %a{:href => "#"} Dropdown Level 2d
                %li
                  %a{:href => "#"} Dropdown Level 2e
                %li
                  %a{:href => "#"} Dropdown Level 2f
            %li
              %a{:href => "#"} Dropdown Level 1b
            %li
              %a{:href => "#"} Dropdown Level 1c
            %li.divider
            %li
              %a{:href => "#"} Dropdown Level 1d
            %li
              %a{:href => "#"} Dropdown Level 1e
            %li
              %a{:href => "#"} Dropdown Level 1f
            %li.divider
            %li
              %a{:href => "#"} See all →
        %li.divider
        %li
          = link_to("Log out", logout_path)
        %li.divider
        %li
          = link_to("#{current_user.name}", users_path)
      - else
        %li.divider
        %li
          = link_to("Sign up", new_user_path)
        %li.divider
        %li
          = link_to("Sign in", login_path)
      %li.divider